/*CSS for Main Page*/

/*general setting*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}

@font-face {
  font-family: "Manrope";
  src: url(Manrope-VariableFont_wght.ttf);
}

/*main flex container settings*/
.container-1 {
  display: flex;
  flex-direction: row;
}

.item-1 {
  height: 100vh;
}

#sidebar {
  width: 20vw;
  background-color: #f9f9f9;
  border-right: 1px solid #d3d3d3;
}

#main {
  width: 80vw;
  align-items: center;
}

/*sidebar flex settings*/
.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding-top: 2vh;
  text-align: center;
}

#mainLogo {
  width: 50px;
  height: 50px;
}

#mainText {
  font-size: 13px;
  font-weight: 600;
  color: #6956e5;
}

#homeButton,
#manualButton,
#autoButton,
#zeiglerButton {
  width: 75%;
  height: 4em;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #f9f9f9;
  border-color: #6956e5;
  color: #6956e5;
  border: 2px solid;
  align-content: center;
  text-decoration: none;
}

#homeButton:active,
#manualButton:active,
#autoButton:active,
#zeiglerButton:active {
  background-color: #6956e5;
  color: white;
}
